## Visual Studio Code

.vscode/*

## Windows
.DS_Store

## macOS
Thumbs.db
[Dd]esktop.ini

## Go

# Binaries for programs and plugins
*.exe
*.exe~
*.syso
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Project
/stuff
/assets_gen.go
/RethinkRAW.app/Contents/MacOS/data
/RethinkRAW.app/Contents/MacOS/rethinkraw
/RethinkRAW.app/Contents/MacOS/utils/exiftool
/RethinkRAW/data
/RethinkRAW/utils/exiftool
