body {
    margin: 0;
    height: 100vh;
}

dialog#progress-dialog {
    width: 10rem;
}

dialog#progress-dialog progress {
    margin-top: 0.2rem;
    max-width: 100%;
}

dialog#export-dialog {
    width: 20rem;
}

form#export-form div {
    margin-top: 0.4rem;
    font-size: small;
    display: grid;
    grid-gap: 0.4rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
}

form#export-form>:first-child {
    margin-top: 0;
}

form#export-form input[type=number] {
    width: 4.5rem;
}

form#export-form input[type=checkbox] {
    height: 100%;
}

form#export-form span,
form#export-form label {
    padding: 2px 0;
    white-space: nowrap;
}

form#export-form span {
    padding-left: 2px;
}