body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

#box1 {
    flex: auto;
    height: 100%;
    margin: 8px;
    margin-top: 0;
}

#box2 {
    height: calc(100% - 62px);
    position: relative;
    margin-top: 8px;
    overflow: hidden;
}

#gallery {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    margin-top: 0;
}

#gallery::-webkit-scrollbar {
    display: none;
}

dialog#progress-dialog {
    width: 10rem;
}

dialog#progress-dialog progress {
    margin-top: 0.2rem;
    max-width: 100%;
}

dialog#export-dialog {
    width: 20rem;
}

form#export-form div {
    margin-top: 0.4rem;
    font-size: small;
    display: grid;
    grid-gap: 0.4rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
}

form#export-form>:first-child {
    margin-top: 0;
}

form#export-form input[type=number] {
    width: 4.5rem;
}

form#export-form input[type=checkbox] {
    height: 100%;
}

form#export-form span,
form#export-form label {
    padding: 2px 0;
    white-space: nowrap;
}

form#export-form span {
    padding-left: 2px;
}