<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>RethinkRAW</title>
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/main.css">
    <link rel="preload" as="style" href="/normalize.css">
    <script src="/main.js" defer></script>
    <noscript><meta http-equiv="refresh" content="0;url=/browser.html"></noscript>
</head>

<body>
    <h1>{{.Status}}</h1>
    <p>There was an error processing your request.</p>
    <h3>Here are a few links you may find useful:</h3>
    <ul>
        <li>Go back to the <a href="javascript:history.back()">previous page</a>.
        <li>Go back to our <a href="javascript:location.replace('/')">welcome screen</a>.
    </ul>
    {{- if (ne .Message "")}}
    <small style="white-space: pre-line">More information about this error:
        {{.Message}}
    </small>
    {{- end}}
</body>

</html>