<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>RethinkRAW: {{.Title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/main.css">
    <link rel="preload" as="style" href="/fontawesome.css">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/webfonts/fa-solid-900.woff2">
    <script src="/gallery.js" defer></script>
    <script src="/main.js" async></script>
    <noscript><meta http-equiv="refresh" content="0;url=/browser.html"></noscript>

    <style>
        body { margin-top: 0; }
    </style>
</head>

<body>
    <div id=menu-sticker>
        <div id=menu>
            <div class="toolbar">
                <button type=button title="Back" class="minimal-ui" onclick="back()"><i class="fas fa-arrow-left"></i></button>
                <span>{{.Title}}</span>
            </div>
            {{- range .Dirs}}
            <a href="/gallery/{{.Path}}"><button type=button>{{.Name}}</button></a>
            {{- end}}
        </div>
    </div>
    <div id=gallery>
        {{- range .Photos}}
        <a href="/photo/{{.Path}}"><img class="lazy" title="{{.Name}}" alt="{{.Name}}" src="/photo.png" data-src="/thumb/{{.Path}}" onerror="parentNode.hidden=true"></a>
        {{- else}}
        <span>No RAW files here.</span>
        {{- end}}
    </div>
</body>

</html>