<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>RethinkRAW: {{.Title}}</title>
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/main.css">
    <link rel="preload" as="style" href="/normalize.css">
    <link rel="preload" as="style" href="/fontawesome.css">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fa-solid-900.woff2">
    <script src="/main.js" defer></script>
    <script src="/gallery.js" defer></script>
    <script>const upload = "{{.Upload}}";</script>
    <noscript><meta http-equiv="refresh" content="0;url=/browser.html"></noscript>

    <style>
        body { margin-top: 0; }
    </style>
</head>

<body>
    <div id=menu-sticker>
        <div id=menu>
            <div class="toolbar">
                <button type=button title="Go back" class="minimal-ui" onclick="back()"><i class="fas fa-arrow-left"></i></button>
                <button type=button title="Reload folder" class="minimal-ui" onclick="location.reload()"><i class="fas fa-sync"></i></button>
                <button type=button title="Batch process folder…" onclick="location='/batch/{{.Path}}'"><i class="fas fa-tasks"></i></button>
                <span>{{.Title}}</span>
            </div>
            {{- range .Dirs}}
            <a href="/gallery/{{.Path}}"><button type=button>{{.Name}}</button></a>
            {{- end}}
        </div>
    </div>
    <div id=gallery>
        {{- range .Photos}}
        <a href="/photo/{{.Path}}"><img loading=lazy title="{{.Name}}" alt="{{.Name}}" src="/thumb/{{.Path}}" onerror="parentNode.hidden=true"></a>
        {{- else}}
        <span>No RAW photos here.</span>
        {{- end}}
    </div>

    <dialog id=progress-dialog>
        Lorem ipsum<br>
        <progress></progress>
    </dialog>    
</body>

</html>