@import 'fontawesome/all.css';
@import 'normalize.css';

body {
    font-family: -apple-system, 'Segoe UI', system-ui, 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 8px;
}

[hidden] {
    display: none !important;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    max-width: 960px;
    margin-bottom: 8px;
    padding-bottom: 0.25em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#menu>* {
    margin: 0.1rem;
}

#menu * {
    vertical-align: middle;
}

#menu button {
    font-weight: bold;
    cursor: pointer;
}

#menu .toolbar {
    width: 100%;
}

#menu .toolbar>button {
    font-size: 0;
    padding: 0.25rem;
}

#menu .toolbar>button>* {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

#menu .minimal-ui {
    display: none;
}

@media not all and (display-mode: browser) {
    #menu .minimal-ui {
        display: unset;
    }
}

#gallery {
    display: flex;
    flex-flow: row wrap;
}

#gallery span {
    text-align: center;
    width: 100%;
    max-width: 960px;
    padding-top: 32px;
}

#gallery a {
    height: 192px;
    margin: 0.1rem;
}

#gallery a>img {
    height: 100%;
    min-width: 108px;
    max-width: 384px;
    object-fit: cover;
    background-color: whitesmoke;
}

.fa-rotate-cw {
    transform: scaleX(-1) rotate(-45deg);
}

.fa-rotate-ccw {
    transform: rotate(-45deg);
}

.fa-rotate-cw::before {
    content: '\f2ea';
}

.fa-rotate-ccw::before {
    content: '\f2ea';
}