@import 'normalize.css';
@import 'fontawesome.css';

body {
    font-family: -apple-system, 'Segoe UI', system-ui, 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 8px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    @page {
        size: landscape;
        margin: 0;
        padding: 0;
    }
    * {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
}
  
[hidden] {
    display: none !important;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    max-width: 960px;
    padding-bottom: 0.25em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#menu>* {
    margin: 0.1rem;
}

#menu * {
    vertical-align: middle;
}

#menu button {
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

#menu .toolbar {
    width: 100%;
}

#menu .toolbar>button {
    font-size: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

#menu .toolbar>button.pushed {
    border: 1px inset;
}

#menu .toolbar>button>i {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

#menu .toolbar>button:not(.pushed)>i.pushed {
    display: none;
}

#menu .toolbar>button.pushed>i:not(.pushed) {
    display: none;
}

#menu .toolbar>span {
    margin-left: 1ch;
}

@media (display-mode: browser) {
    #menu .minimal-ui {
        display: none;
    }
}

#menu-sticker {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-bottom: -2px;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
}

#gallery span {
    text-align: center;
    width: 100%;
    max-width: 960px;
    padding-top: 32px;
}

#gallery a {
    height: 192px;
    margin: 0.1rem;
}

#gallery a>img {
    height: 100%;
    min-width: 108px;
    max-width: 384px;
    object-fit: cover;
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("fa-solid-900.woff2");
}
  
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa-rotate-cw {
    transform: scaleX(-1) rotate(-45deg);
}

.fa-rotate-ccw {
    transform: rotate(-45deg);
}

.fa-rotate-cw::before {
    content: '\f2ea';
}

.fa-rotate-ccw::before {
    content: '\f2ea';
}