<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>RethinkRAW: {{.Title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/photo.css">
    <link rel="stylesheet" href="/raw-editor.css">
    <link rel="stylesheet" href="/dialog-polyfill.css">
    <link rel="preload" as="style" href="/fontawesome.css">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/webfonts/fa-solid-900.woff2">
    <script src="/dialog-polyfill.js" defer></script>
    <script src="/raw-editor.js" defer></script>
    <script>const template = {{.}}</script>
    <script src="/main.js" async></script>
</head>
<body>
    <div id=box1>
        <div id=menu>
            <div class="toolbar">
                <button type=button title="Back" class="minimal-ui" onclick="back()"><i class="fas fa-arrow-left"></i></button>
                <button type=button title="S̲ave" accesskey="s" onclick="saveFile()" id=save disabled><i class="fas fas fa-save"></i></button>
                <button type=button title="Ex̲port JPEG (ctrl-click for options)" accesskey="x" class="ctrl-off" onclick="exportFile()"><i class="fas fa-file-image"></i></button>
                <button type=button title="Export…" class="ctrl-on" onclick="exportFile('dialog')"><i class="fas fa-file-download"></i></button>
                <button type=button title="Z̲oom" accesskey="z" onclick="toggleZoom(this, event)"><i class="fas fa-search-plus"></i><i class="fas fa-search-minus pushed"></i></button>
                <button type=button title="Crop" disabled><i class="fas fa-crop"></i></button>
                <button type=button title="Rotate couterclockwise (ctrl-click to flip horizontally)" class="ctrl-off" onclick="orientationChange('ccw')"><i class="fas fa-rotate-ccw"></i></button>
                <button type=button title="Rotate clockwise (ctrl-click to flip vertically)" class="ctrl-off" onclick="orientationChange('cw')"><i class="fas fa-rotate-cw"></i></button>
                <button type=button title="Flip horizontally" class="ctrl-on" onclick="orientationChange('hz')"><i class="fas fa-arrows-alt-h"></i></button>
                <button type=button title="Flip vertically" class="ctrl-on" onclick="orientationChange('vt')"><i class="fas fa-arrows-alt-v"></i></button>
                <button type=button title="Metadata" onclick="showMeta()"><i class="fas fa-info"></i></button>
            </div>
        </div>
        <div id=box2>
            <img id=photo alt="{{.Name}}" src="/thumb/{{.Path}}">
            <i id=spinner class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

    {{- template "raw-editor.gohtml" }}

    <dialog id=meta-dialog></dialog>
</body>

</html>