body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

#box1 {
    flex: auto;
    height: 100%;
    margin: 8px;
}

#box2 {
    height: calc(100% - 52px);
    position: relative;
    margin-top: 8px;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: whitesmoke;
}

img#photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img#photo:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 32px;
    text-align: center;
    background-color: #fff;
    content: 'Preview failed to load.';
  }

form#settings {
    font-size: small;
    flex-shrink: 0;
    width: 15rem;
    overflow-y: scroll;
}

@supports (overflow: overlay) {
    form#settings {
        padding-right: 1rem;
        overflow: overlay;
    }
}

form#settings fieldset {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

form#settings label {
    display: block;
}

form#settings label.inline {
    display: inline;
}

form#settings select {
    width: 100%;
    margin-bottom: 0.3rem;
}

form#settings select.below {
    margin-top: 0.3rem;
    margin-bottom: initial;
}

form#settings output {
    float: right;
}

form#settings input[type=range] {
    display: block;
    margin-top: 0;
    width: 100%;
}

form#settings fieldset[disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] output {
    visibility: hidden;
}

dialog#progress-dialog {
    width: 10rem;
}

dialog#export-dialog {
    width: 20rem;
}

form#export-form div {
    margin-top: 0.4rem;
    font-size: small;
    display: grid;
    grid-gap: 0.4rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
}

form#export-form>:first-child {
    margin-top: 0;
}

form#export-form input[type=number] {
    width: 4.5rem;
}

form#export-form input[type=checkbox] {
    height: 100%;
}

form#export-form span,
form#export-form label {
    padding: 2px 0;
    white-space: nowrap;
}

form#export-form span {
    padding-left: 2px;
}