form#settings {
    position: sticky;
    float: right;
    z-index: 1;
    top: 0;
    width: 15rem;
    height: 100vh;
    padding: 0 8px;
    font-size: small;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

@supports (overflow: overlay) and (not (scrollbar-gutter: stable)) {
    form#settings {
        padding-right: 1rem;
        overflow: overlay;
    }
}

form#settings fieldset {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

form#settings select {
    width: 100%;
    margin-bottom: 0.3rem;
}

form#settings select:last-child {
    margin-bottom: initial;
}

form#settings output {
    float: right;
}

form#settings input[type=range] {
    display: block;
    margin-top: 0;
    width: 100%;
}

form#settings fieldset[disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] output {
    visibility: hidden;
}