<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>Rethink RAW: {{.Title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <form id="menu">
        <div class="toolbar">
            <button title="Parent directory" formaction="/gallery/{{.Parent}}"><i class="fas fa-arrow-up"></i></button>
            <span>{{.Title}}</span>
        </div>
        {{range .Dirs}}
        <button formaction="/gallery/{{.Path}}">{{.Name}}</button>
        {{end}}
    </form>
    <div id="gallery">
        {{range .Photos}}
        <a href="/photo/{{.Path}}"><img title="{{.Name}}" alt="{{.Name}}" src="/thumb/{{.Path}}"></a>
        {{end}}
    </div>
</body>

</html>