body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

form {
    font-size: small;
}

#box1 {
    flex: auto;
    height: 100%;
    margin: 8px;
}

#box2 {
    height: calc(100% - 52px);
    position: relative;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: whitesmoke;
}

img#photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

form#settings {
    padding-right: 1rem;
    overflow: overlay;
    flex-shrink: 0;
    width: 15rem;
}

form#settings fieldset {
    margin-bottom: 0.2rem;
}

form#settings label {
    display: block;
}

form#settings label.inline {
    display: inline;
}

form#settings select {
    width: 100%;
    margin-bottom: 0.3rem;
}

form#settings select.below {
    margin-top: 0.3rem;
    margin-bottom: initial;
}

form#settings output {
    float: right;
}

form#settings input[type=range] {
    display: block;
    margin-top: 0;
    width: 100%;
}

form#settings fieldset[disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] {
    color: #ccc;
}

form#settings div[class*=disabled] output {
    visibility: hidden;
}

dialog#export-dialog>form {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

dialog#export-dialog input[type=number] {
    width: 9ch;
}

dialog#export-dialog input[type=checkbox] {
    height: 100%;
}

dialog#export-dialog span,
dialog#export-dialog label {
    padding: 1px 2px;
}