<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>Rethink RAW: {{.Title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/main.css">
    <script src="/browser.js" async></script>
</head>

<body>
    <form id=menu>
        <div class="toolbar">
            {{if (ne .Parent "")}}
            <button title="Parent directory" formaction="/gallery/{{.Parent}}"><i class="fas fa-arrow-up"></i></button>
            {{else}}
            <button title="Parent" formaction="/"><i class="fas fa-arrow-left"></i></button>
            {{end}}
            <span>{{.Title}}</span>
        </div>
        {{range .Dirs}}
        <button formaction="/gallery/{{.Path}}">{{.Name}}</button>
        {{end}}
    </form>
    <div id=gallery>
        {{range .Photos}}
        <a href="/photo/{{.Path}}"><img title="{{.Name}}" alt="{{.Name}}" src="/thumb/{{.Path}}"></a>
        {{else}}
        <span>No RAW files here.</span>
        {{end}}
    </div>
</body>

</html>